.csv-upload {
  display: flex;
  align-items: center;
  gap: 8px;
}


.csv-input {
  display: none;
}

.file-name {
  font-size: 13px;
  color: #555;
}


.btn.primary {
  background-color: #1e3c72;
  color: white;
  padding: 8px 14px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.btn.primary:hover {
  background-color: #16335f;
}
